extends ../../templates/default
block vars
	-
		title = "ВСЁВИДНО.РФ"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro.bgw
		.case
			.intro__wrap.row
				.intro__content
					.intro__title.h1.ani.fadeInUp(data-delay="0.2") Экспертная установка видеонаблюдения #[br]для вашего бизнеса и дома  #[br]#[strong в Москве и Подмосковье “под ключ”]
					.intro__subtitle.h4.ani.fadeInUp(data-delay="0.25") Получите консультацию от сертифицированного специалиста и #[br]установите себе действительно продуманное видеонаблюдение
					a.intro__btn.btn.--md.--bg-blue.ani.fadeInUp(href="javascript:;" data-popup="" data-src="#modal-callback" data-delay="0.3") Заказать звонок
					.intro__text.ani.fadeInUp(data-delay="0.3")
						ul
							li Мы устанавливаем только сертифицированные видеокамеры, купленные #[strong у официальных дистрибьютеров]
							li Мы даем гарантию на все наши товары и услуги - #[strong 12 месяцев]
							li Среднее время установки набора из 6 видеокамер - #[strong  1 день]
							li Мы составляем детальные планы и сметы перед началом работ так, что #[strong экономим своим клиентам до 20% бюджета]
				.intro__img-wrap.ani.fadeInRight
					.intro__img
						img(src="_/uploads/camera.png" alt="")
		.intro__bg.bg
			img(src="_/uploads/intro-bg.png" alt="")

	.process
		.case
			.process__wrap
				.process__title.h2.ani.fadeInUp #[strong Цена] указанная в нашей смете #[strong не вырастет] #[br]в процессе работы
				.process__text.h5.ani.fadeInUp
					p Возможно Вам уже приходилось сталкиваться с недобросовестными специалистами, цена услуги которых растет прямо во время проведения работ. “Стоимость укладки кабеля мы просто забыли включить в смету”, “мы тут Вам дополнительные крепления решили поставить - надо доплатить” и другие “внезапные проблемы”. С нашим алгоритмом работы такие нюансы исключены!
				.process__steps.steps
					.steps__title.h3.ani.fadeInUp Мы приступаем к работе в #[strong #[u 4 этапа:]]
					.steps__list.ani
						.steps__item
							.steps__count 1
							.steps__text Вы созваниваетесь со специалистом и он выясняет #[strong Ваши потребности]
						.steps__item
							.steps__count 2
							.steps__text Специалист #[strong в кратчайшие сроки] приезжает к Вам на объект и составляет детальный план монтажа
						.steps__item
							.steps__count 3
							.steps__text На следующий день мы присылаем Вам #[strong готовый вариант сметы] #[br](цена окончательная)
						.steps__item
							.steps__count 4
							.steps__text #[strong После подписания договора приступаем к работе в оговоренные сроки]
			.process__bg.bg
				img(src="_/uploads/process-bg.png" alt="")

	.discount.bgw#discount
		.case
			.discount__title.h2.ani.fadeInUp #[strong Получить #[u скидку 10 %] просто]
			.discount__subtitle.h3.ani.fadeInUp У нас есть предложение как снизить стоимость работ
			.discount__wrap.row
				.discount__content.ani.fadeInLeft
					.discount__text
						p Когда Вы оставляете нам заявку на звонок или звоните сами, с Вами связывается не девочка из отдела продаж, цель которой просто быстро ответить и прислать Вам бесполезные брошюры.
						p У нас Вам перезвонит сразу специалист, который сможет ответить на любые вопросы и лично приедет #[br]на объект для составления плана.
						p Время нашего специалиста для нас на вес золота, а потому мы сами готовы за него платить.
						p.--hidden-on-mobile #[strong Ответьте на несколько вопросов перед звонком специалисту и #[u получите до 10% скидку] на все наши камеры видеонаблюдения.]
					.discount__hidden.ani.fadeInUp
						.discount__hidden-img
							img(src="_/uploads/worker.png" alt="")
						.discount__hidden-title #[strong Ответьте на несколько вопросов перед звонком специалисту и #[u получите до 10% скидку] на все наши камеры видеонаблюдения.]

					a.discount__btn.btn.--md.--bg-blue(href="https://mrqz.me/60ec1db1b82c1c004ec9fd6e" target="_blank") Пройти тест

				.discount__img-wrap.ani.fadeInRight
					.discount__img
						img(src="_/uploads/worker.png" alt="")

		.discount__bg.bg
			img(src="_/uploads/discount-bg.png" alt="")


	.advantages
		.case
			.advantages__title.h2.ani.fadeInUp #[strong Вы будете уверены #[u в надежности и долговечности] своей системы видеонаблюдения]
			.advantages__subtitle.h4.ani.fadeInUp Мы покупаем оборудование только у официального поставщика #[strong #[u Hikvision и Hiwatch]] в России
			.advantages__wrap
				.advantages__list.ani
					.advantages__item.advantage.--left
						.advantage__icon
							img(src="_/uploads/umbrella.svg" alt="")
						.advantage__title Защита от пыли и влаги
					.advantages__item.advantage.--left
						.advantage__icon
							img(src="_/uploads/wifi.svg" alt="")
						.advantage__title Детектор движения
					.advantages__item.advantage.--left
						.advantage__icon
							img(src="_/uploads/enet.svg" alt="")
						.advantage__title Интеллектуальная #[br]видеоаналитика
					.advantages__item.advantage.--right
						.advantage__icon
							img(src="_/uploads/micro.svg" alt="")
						.advantage__title Двусторонняя аудиосвязь
					.advantages__item.advantage.--right
						.advantage__icon
							img(src="_/uploads/lamp.svg" alt="")
						.advantage__title До 60 м подсветка led 
					.advantages__item.advantage.--right
						.advantage__icon
							img(src="_/uploads/weather.svg" alt="")
						.advantage__title Цветное изображение #[br]даже ночью
				.advantages__img-wrap
					.advantages__img
						img(src="_/uploads/advantages-camera.png" alt="")
			.advantages__text.ani.fadeInUp
				p Периодически мы сталкиваемся с ситуациями, когда наши клиенты покупают видеооборудование не у нас и просят его установить, аргументируя это тем, что они купили дешевле. Раньше мы соглашались на такой монтаж и каждый раз это выходило боком. Хотя камеры внешне выглядели так же как и сертифицированные, они могли передавать картинку со сбоями, терять цветность или же выходить из строя в первые 2-3 месяца работы. Мы не можем подвергать свою репутацию такой опасности, поэтому мы не работаем с не проверенной техникой. #[br]Но мы можемгарантировать, что покупая видеокамеры у нас вы получите действительно качественный продукт по минимальной для него цене.

			.advantages__desc.h5.ani.fadeInUp #[strong Видеокамеры от #[u Hikvision и Нiwatch] являются лидерами в секторе профессионального видеонаблюдения.]

	.catalog#catalog
		.case
			.catalog__title.h2.ani.fadeInUp #[strong Наши #[u популярные модели] видеокамер]
			.catalog__list.row.ani.fadeInUp
				.catalog__item
					.catalog__img
						img(src="_/uploads/DS-T200A.png" alt="")
					.catalog__content
						.catalog__name 2 Мп цилиндрическая HD-TVI видеокамера с EXIR-подсветкой до 30 м и микрофоном
						.catalog__controls.row
							.catalog__price 3 370 р.
							.catalog__more.more(data-popup="" data-src="#catalog-item-1")
								span Подробнее
								<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

							.catalog__modal.modal.product(id="catalog-item-1")
								.product__close.x.--white.popup-btn-close
								.product__wrap.row
									.product__img-wrap
										.product__img
											img(src="_/uploads/DS-T200A.png" alt="")
									.product__data.data
										.data__title DS-T200A
										.data__text
											p 2 Мп цилиндрическая HD-TVI камера с EXIR-подсветкой до 30 м и микрофоном
											ul
												li Разрешение 2Мп
												li EXIR-подсветка до 30м
												li Встроенный микрофон
												li режим “день-ночь”
												li влагозащита, рабочие условия -40°С до +60°С
												li размеры 58 × 61 × 158.6 мм
										.data__desc Гарантия от производителя: 3 года


				.catalog__item
					.catalog__img
						img(src="_/uploads/DS-T500.png" alt="")
					.catalog__content
						.catalog__name 5Мп уличная цилиндрическая HD-TVI камера с EXIR-подсветкой до 30м
						.catalog__controls.row
							.catalog__price 3 800 р.
							.catalog__more.more(data-popup="" data-src="#catalog-item-2")
								span Подробнее
								<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

							.catalog__modal.modal.product(id="catalog-item-2")
								.product__close.x.--white.popup-btn-close
								.product__wrap.row
									.product__img-wrap
										.product__img
											img(src="_/uploads/DS-T500.png" alt="")
									.product__data.data
										.data__title DS-T500(C)
										.data__text
											p 5Мп уличная цилиндрическая HD-TVI камера с EXIR-подсветкой до 30м
											ul
												li Разрешение 5Мп
												li EXIR-подсветка до 30м
												li режим “день-ночь”
												li влагозащита
												li автоматическая экспозиция рабочие условия -40°С до +60°С
												li размеры 60.9 × 57.9 × 138.8 мм
										.data__desc Гарантия от производителя: 3 года



				.catalog__item
					.catalog__img
						img(src="_/uploads/DS-I400.png" alt="")
					.catalog__content
						.catalog__name 4Мп цилиндрическая IP-видеокамера с EXIRподсветкой до 30м
						.catalog__controls.row
							.catalog__price 7 600 р.
							.catalog__more.more(data-popup="" data-src="#catalog-item-3")
								span Подробнее
								<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

							.catalog__modal.modal.product(id="catalog-item-3")
								.product__close.x.--white.popup-btn-close
								.product__wrap.row
									.product__img-wrap
										.product__img
											img(src="_/uploads/DS-I400.png" alt="")
									.product__data.data
										.data__title DS-I400(B)
										.data__text
											p 4Мп цилиндрическая IP-видеокамера с EXIR-подсветкой до 30м и функциями тревоги
											.row
												.col
													ul
														li разрешение 4Мп
														li eXIR-подсветка до 30м
														li режим “день-ночь”
														li влагозащита
														li детекция движения
														li защита от заслона объектива
													h6 Безопасность
													ul
														li аутентификация пользователя
														li водяные знаки
														li фильтрация IPадресов
												.col
													h6 Срабатывание тревоги
													ul
														li обнаружение несанкционированных действий
														li разрыв сети
														li конфликт IP-адресов
													h6 Настройка через приложение
													ul
														li насыщенность
														li яркость
														li контраст
														li резкость
														li зеркалирование
														li маска приватности
											p Рабочие условия: -40°С до +60°С, размеры 69.1 × 66 х 172.7мм
										.data__desc Гарантия от производителя: 3 года



				.catalog__item
					.catalog__img
						img(src="_/uploads/DS-I203.png" alt="")
					.catalog__content
						.catalog__name 2Мп купольная IP-видеокамера с EXIR-подсветкой до 30 м
						.catalog__controls.row
							.catalog__price 5 550 р.
							.catalog__more.more(data-popup="" data-src="#catalog-item-4")
								span Подробнее
								<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

							.catalog__modal.modal.product(id="catalog-item-4")
								.product__close.x.--white.popup-btn-close
								.product__wrap.row
									.product__img-wrap
										.product__img
											img(src="_/uploads/DS-I203.png" alt="")
									.product__data.data
										.data__title DS-I203(C)
										.data__text
											p 2Мп купольная IP-видеокамера с EXIR-подсветкой до 30 м
											.row
												.col
													ul
														li разрешение 2Мп
														li eXIR-подсветка до 30м
														li режим “день-ночь”
														li влагозащита
														li детекция движения
														li защита от заслона объектива
													h6 Безопасность
													ul
														li аутентификация пользователя
														li сброс настроек одной кнопкой
														li пульсация
														li защита паролем
														li маска конфиденциальности
														li водяные знаки
														li фильтрация IP-адресов
													h6 Срабатывание тревоги 
													ul
														li обнаружение несанкционированной авторизации
														li движения
												.col
													h6 Действия по тревоге
													ul
														li уведомление на клиентское ПО
														li отправка email
														li загрузка на FTP
														li активация канала записи
													h6 Настройка через приложение
													ul
														li насыщенность
														li яркость
														li контраст
														li резкость
														li зеркалирование
														li маска приватности
											p Рабочие условия: -40°С до +60°С, размерыØ 110 х 93,2 мм
										.data__desc Гарантия от производителя: 3 года


				.catalog__item
					.catalog__img
						img(src="_/uploads/IPC-B042-G2-U.png" alt="")
					.catalog__content
						.catalog__name 4 Мп цилиндрическая IP-камера IPC-B042-G2/U с EXIR-подсветкой до 40м и фиксированным объективом
						.catalog__controls.row
							.catalog__price 13 990 р.
							.catalog__more.more(data-popup="" data-src="#catalog-item-5")
								span Подробнее
								<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

							.catalog__modal.modal.product(id="catalog-item-5")
								.product__close.x.--white.popup-btn-close
								.product__wrap.row
									.product__img-wrap
										.product__img
											img(src="_/uploads/IPC-B042-G2-U.png" alt="")
									.product__data.data
										.data__title IPC-B042-G2/U
										.data__text
											p 4 Мп цилиндрическая IP-камера с двусторонней аудиосвязью и интеллектуальной видеоаналитикой
											.row
												.col
													ul
														li высокое качество изображения с разрешением 4 Мп
														li четкое изображение при яркой задней засветке благодаря технологии 120 дБ WDR
														li встроенный микрофон
														li аудиосвязь в режиме реального времени
														li фильтр шума
														li защита от влаги и пыли
														li встроенный слот для microSD/SDHC/SDXC до 256 ГБ
														li eXIR-подсветка до 40м
														li режим “день-ночь”
														li влагозащита
														li вращение
														li зеркалирование
														li маскирование области коридора
														li насыщенность
													
												.col
													h6 Интеллектуальная видеоаналитика
													ul
														li основные события
														li обнаружение движения («человек», «ТС»)
														li детектор саботажа
														li исключения
													h6 Интеллектуальные события
													ul
														li пересечение линии
														li обнаружение вторжения
														li детекция лиц 
													h6 Настройка через приложение
													ul
														li насыщенность
														li яркость
														li контраст
														li резкость
														li зеркалирование
														li маска приватности
											p Рабочие условия: -40°С до +60°С, размерыØ 70 × 161.7 мм
										.data__desc Гарантия от производителя: 3 года



				.catalog__item
					.catalog__img
						img(src="_/uploads/PTZ-N3A204I-D.png" alt="")
					.catalog__content
						.catalog__name 2Мп уличная скоростная поворот- ная IP-камера c EXIR-подсветкой #[br]до 50м
						.catalog__controls.row
							.catalog__price 24 630 р.
							.catalog__more.more(data-popup="" data-src="#catalog-item-6")
								span Подробнее
								<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

							.catalog__modal.modal.product(id="catalog-item-6")
								.product__close.x.--white.popup-btn-close
								.product__wrap.row
									.product__img-wrap
										.product__img
											img(src="_/uploads/PTZ-N3A204I-D.png" alt="")
									.product__data.data
										.data__title PTZ-N3A204I-D
										.data__text
											p 2Мп скоростная поворотная IP-камера c EXIR-подсветкой до 50м, двусторонней аудиосвязью и стробоскопом
											.row
												.col
													ul
														li разрешение 2Мп
														li отличные рабочие характеристики даже в условиях слабой/недостаточной освещенности
														li дальность EXIR-подсветки: до 50 м.
														li дальность подсветки белым светом: до 30 м
														li поддержка звуковой и визуальной сигнализации
														li встроенный динамик и микрофон для звукового предупреждения и двусторонней аудиосвязи
														li срабатывание стробоскопа при тревожном событии
														li встроенный слот для microSD/SDHC/SDXC: есть, до 256 ГБ
														li 24 настраиваемые маски области
														li настраиваемые цвета масок области
													//- h6 Интеллектуальные функции
													//- ul
													//- 	li основные события

													//- 	li обнаружение движения
													//- 	li детектор саботажа
													//- 	li тревожный вход
													//- 	li тревожный выход
													//- 	li исключение (переполнение накопителя, ошибка накопителя, несанкционированный вход, разрыв сети, конфликт IP-адресов)
													
												.col
													h6 Интеллектуальные события
													ul
														li детекция лиц
														li обнаружение вторжения
														li пересечения линии
														li входа/выхода из области, перемещения объекта
														li обнаружение оставленного багажа
														li детекция звуковых событий
													h6 Улучшение изображения
													ul
														li bLC
														li hLC
														li антитуман
														li 3D DNR
														li экспозиция области
														li фокус на области
											p Рабочие условия: -40°С до +60°С, размеры 179.3 × 120.5 × 182 мм
										.data__desc Гарантия от производителя: 3 года


	.app.bgw
		.case
			.app__title.h2.ani.fadeInUp  #[strong Мы установим вам #[u удобное приложение] на телефон или ПК] #[br]для удаленного доступа к камерам и не уедем #[br]пока не научим им пользоваться
			.app__img-wrap.ani.fadeInUp
				.app__img
					img(src="_/uploads/app.png" alt="")
				.app__shadow
						<svg viewBox="0 0 967 55" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.5" filter="url(#filter0_f)"><ellipse cx="483.5" cy="31.5" rx="476.5" ry="16.5" fill="#0E0E0E"/></g><g opacity="0.7" filter="url(#filter1_f)"><ellipse cx="483.5" cy="23.5" rx="443.5" ry="16.5" fill="#0E0E0E"/></g><defs><filter id="filter0_f" x="0" y="8" width="967" height="47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="3.5" result="effect1_foregroundBlur"/></filter><filter id="filter1_f" x="33" y="0" width="901" height="47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="3.5" result="effect1_foregroundBlur"/></filter></defs></svg>
				.app__cams.cams
					.cams__item
						.cams__text
							.cams__name camera1-1
							.cams__counter 14:09:39
					.cams__item
						.cams__text
							.cams__name camera1-2
							.cams__counter 14:09:39
					.cams__item
						.cams__text
							.cams__name camera1-3
							.cams__counter 14:09:39
					.cams__item
						.cams__text
							.cams__name camera1-4
							.cams__counter 14:09:39
					.cams__item
						.cams__text
							.cams__name camera1-5
							.cams__counter 14:09:39
					.cams__item
						.cams__text
							.cams__name camera1-6
							.cams__counter 14:09:39

		.app__bg.bg
			img(src="_/uploads/app-bg.png" alt="")

	.typicals#typicals
		.typicals__cams
			.typicals__cam.--left
				img(src="_/uploads/cam-1.png" alt="")
			.typicals__cam.--right
				img(src="_/uploads/cam-2.png" alt="")
		.case
			.typicals__title.h2.ani.fadeInUp #[strong Наши типовые #[u сметы и сроки]]
			.typicals__subtitle.h4.ani.fadeInUp Давайте не будем обманывать себя и друг друга
			.typicals__text.ani.fadeInUp Не бывает типовых проектов! Никто не может Вам составить смету без выяснения ваших потребностей и осмотра объекта. Никто не сможет Вам сказать сколько времени займет монтаж и настройка оборудования без информации о местах и материалах крепления. Например, закрепить в одном месте кабель на деревянной стене займет не более 5 минут времени, а на мраморной - может занять до часа. Где-то надо увеличить высоту столбов, где-то проложить кабеля под землей. Наши монтажники обладают набором всех необходимых инструментов, а специалисты подготовят план работ, рассчитанный до мелочей.  
			.typicals__desc.h4.ani.fadeInUp Но чтобы Вы имели представление о примерных ценах и сроках монтажа, мы расскажем Вам о нескольких наших проэктах. Например:
			.typicals__list.row.ani.fadeInUp
				.typicals__item
					.typicals__img
						img(src="_/uploads/house.jpg" alt="")
					.typicals__data
						.typicals__name.h4 #[strong Частный коттедж]
						.typicals__more.more(data-popup="" data-src="#typicals-item-1") 
							span Наше решение
							<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

					.typicals__modal.modal.t-modal(id="typicals-item-1")
						.t-modal__close.x.popup-btn-close
						.t-modal__wrap
							.t-modal__img-wrap
								.t-modal__img
									img(src="_/uploads/house.jpg" alt="")
								.t-modal__name.h4 #[strong Частный коттедж]
							.t-modal__content
								.t-modal__text
									p У нас стояла задача оборудовать территорию загородного дома в Подмосковье видеонаблюдением.
									p Для участка размером в 6 соток мы подобрали комплект из 4 всепогодных уличных камер видеонаблюдения с качеством 2 Мп и ночной EXIR-подсветкой. 
									p #[strong Работа была выполнена #[u за 1 день.]]
									p #[strong Все оборудование, включая антивандальный ящик для регистратора, обошлось клиенту в #[u 28000 рублей,] работа бригады монтажников еще #[u 12000.]]
				.typicals__item
					.typicals__img
						img(src="_/uploads/production.jpg" alt="")
					.typicals__data
						.typicals__name.h4 #[strong Производство]
						.typicals__more.more(data-popup="" data-src="#typicals-item-2") 
							span Наше решение
							<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

					.typicals__modal.modal.t-modal(id="typicals-item-2")
						.t-modal__close.x.popup-btn-close
						.t-modal__wrap
							.t-modal__img-wrap
								.t-modal__img
									img(src="_/uploads/production.jpg" alt="")
								.t-modal__name.h4 #[strong Производство]
							.t-modal__content
								.t-modal__text
									p К нам обратился представитель крупного производителя кровельных материалов для установки видеонаблюдения на производстве.
									p После составления детального плана работ нашим специалистом нам удалось уменьшить количество указанных в техзадании камер с 24 до 19 за счет наших ноу-хау, #[strong что помогло съэкономить заказчику около 20 % выделенного бюджета.]
									p #[strong Было установлено 19 видеокамер, часть из которых на высоте 8,5 метров и проложено 700 метров кабеля без остановки станков и производства.]
									p #[strong Сроки: #[u 5 дней]]
									p #[strong Стоимость: #[u 398 452 рубля]]

				.typicals__item
					.typicals__img
						img(src="_/uploads/office.jpg" alt="")
					.typicals__data
						.typicals__name.h4 #[strong Офис]
						.typicals__more.more(data-popup="" data-src="#typicals-item-3") 
							span Наше решение
							<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.7219 1L19.9998 6.48608L14.7219 11.9722" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M19.9998 6.48584H11.5553C5.72548 6.48584 0.999756 11.3981 0.999756 17.458V18.5552" stroke="#E6E6E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

					.typicals__modal.modal.t-modal(id="typicals-item-3")
						.t-modal__close.x.popup-btn-close
						.t-modal__wrap
							.t-modal__img-wrap
								.t-modal__img
									img(src="_/uploads/office.jpg" alt="")
								.t-modal__name.h4 #[strong Офис]
							.t-modal__content
								.t-modal__text
									p Когда мы оборудовали камерами видеонаблюдения офис агенства недвижимости, у генерального директора #[strong было 2 важных условия:] 
									p Камеры должны быть максимально компактными и оснащены как встроенным микрофоном так и динамиком. 
									p Находясь вне офиса, ему было необходимо иметь возможность услышать все что там происходит и по надобности что-то сказать.  Сложность состояла еще и в том, чтобы при монтаже не испортить ремонт помещений. 
									p #[strong Мы справились с этой задачей #[u за 3 дня,] проведя всю кабельную сеть за гипсокартоновыми стенами и потолком.]
									p #[strong Вся установка системы из 6 компактных камер “под ключ” обошлась нашему клиенту #[u в 70000 рублей.]]

	.skyd#skyd
		.case
			.skyd__title.h2.ani.fadeInUp #[strong Мы можем усилить вашу безопасность #[u системой контроля доступа (СКУД)]]
			.skyd__subtitle.h3.ani.fadeInUp Вход по карте гораздо надежнее, чем связка ключей
			.skyd__list.row.ani.fadeInUp
				.skyd__item
					.skyd__img
						img(src="_/uploads/skyd-1.jpg" alt="")
					.skyd__content
						.skyd__name.h4 #[strong Система контроля доступа на одну дверь]
						.skyd__text
							h4 Самая популярная и бюджетная защита вашего помещения
							ul
								li Вход по бесконтактной карте
								li Выход по нажатию кнопки
								li Магнитный замок
						.skyd__price #[span Стоимость: ]от 15000 рублей

				.skyd__item.--lg
					.skyd__img
						img(src="_/uploads/skyd-2.jpg" alt="")
					.skyd__content
						.skyd__name.h4 #[strong Сетевая система контроля доступа]
						.skyd__text
							h4 Устанавливается на неограниченное количесво дверь
							ul
								li Вход и выход по бесконтактной карте
								li Контроль рабочего времени
								li Удаленное управление через телефон или ПК
								li Возможна установка биометрических считывателей (по отпечатку пальца или лицу)
						.skyd__price #[span Стоимость: ]от 28000 рублей за дверь

				.skyd__item
					.skyd__img
						img(src="_/uploads/skyd-3.jpg" alt="")
					.skyd__content
						.skyd__name.h4 #[strong Ограничение доступа на территорию]
						.skyd__text
							h4 Установим:
							ul
								li Шлагбаумы
								li Турникеты
								li Открывание с помощью бесконтактных карт или брелков
						.skyd__price #[span Стоимость: ]от 60000 рублей

			.skyd__btn-wrap.ani.fadeInUp
				a.skyd__btn.btn.--md.--bg-blue(href="javascript:;" data-popup="" data-src="#modal-callback") Заказать звонок

	.desc.bgw
		.case
			.desc__title.h2.ani.fadeInUp #[strong Мы производим монтаж #[u быстро, аккуратно и без остановки производства]] #[br]Чем выгодно отличаемся от большинства конкурентов:
			.desc__list.row
				.desc__item.ani.fadeInUp
					.desc__count 1
					.desc__img
						img(src="_/uploads/desc-1.png" alt="")
					.desc__text Мы настолько #[strong аккуратно укладываем кабеля,] что перфекционисты удивляются
				.desc__item.ani.fadeInUp
					.desc__count 2
					.desc__img
						img(src="_/uploads/desc-2.png" alt="")
					.desc__text Мы #[strong убираем за собой весь мусор] так, что после нас остаются только приятные воспоминания и уверенность в безопасности
				.desc__item.ani.fadeInUp
					.desc__count 3
					.desc__img
						img(src="_/uploads/desc-3.png" alt="")
					.desc__text Мы используем только #[strong качественный крепеж и кронштейны,] никаких хомутиков и самопальных приспособлений
				.desc__item.--lg.ani.fadeInUp
					.desc__count 4
					.desc__img
						img(src="_/uploads/desc-4.png" alt="")
					.desc__text У нас всегда в наличии #[strong весь необходимый инструмент,] мы не попросим у вас дрель, саморез или лопату
				.desc__item.--lg.ani.fadeInUp
					.desc__count 5
					.desc__img
						img(src="_/uploads/desc-5.png" alt="")
					.desc__text Мы #[strong продумаем место] для приемного комплекта и #[strong установим его] в красивый антивандальный ящик
		.desc__bg.bg
			img(src="_/uploads/why-bg.jpg" alt="")

	.why
		.case
			.why__title.h2.ani.fadeInUp #[strong Почему Вам необходимо заказать #[u экспертное видеонаблюдение у нас]]
			.why__block
				.why__subtitle.h3.ani.fadeInUp На производстве и в офисе:
				.why__list.ani.fadeInUp
					.why__item.--t1
						.why__content
							.why__text
								h4 Вы сможете удаленно контролировать все действия Ваших сотрудников и за счет этого решать проблемы:
								ul
									li воровства
									li бесконечных перекуров
									li несоблюдение техники безопасности и ковидных ограничений (ношение масок)
									li несоблюдение производственных процессов
						.why__img
							img(src="_/uploads/why-1.png" alt="")

					.why__item.--t2
						.why__content
							.why__text
								h4 Вы будете уверены в сохранности Вашего имущества:
								ul
									li наши продуманные планы расположения камер не упустят из виду ни сантиметра охраняемой площади
									li запись с камер будет храниться на жестком диске в антивандальном шкафу, а при необходимости дублироваться на удаленные сервера
						.why__img
							img(src="_/uploads/why-2.png" alt="")

					.why__item.--t1
						.why__content
							.why__text
								h4 Вы застрахуете себя от всех возможных деловых споров, обладая видеодоказательствами своих действий и действий сотрудников. 
								p Например, факты подписания договоров, передачи денег, полной и грамотной упаковки пересылаемой продукции и прочего
						.why__img
							img(src="_/uploads/why-3.png" alt="")
			.why__block
				.why__subtitle.h3 В частном доме или на загородном участке:
				.why__list
					.why__item.--t2
						.why__content
							.why__text
								h4 Вы навсегда решите вопрос с оставлением дома на время отпуска или на зимний период:
								ul
									li наличие камер отпугивает воров
									li специальные датчики будут присылать Вам на телефон сообщения о любых движениях на участке и в доме
									li наши видеокамеры покажут Вам четкую картинку в любое время суток
						.why__img
							img(src="_/uploads/why-4.png" alt="")

					.why__item.--t1
						.why__content
							.why__text
								h4 Вы сможете контролировать действия неадекватных соседей или просто хулиганов по отношению к Вашему участку и имуществу:
								ul
									li поцарапанная машина
									li испорченный забор
									li перекидывание мусора и прочее
						.why__img
							img(src="_/uploads/why-5.png" alt="")

					.why__item.--t2
						.why__content
							.why__text
								p #[strong Вы будете спокойны и подарите это спокойствие своим родным и близким] в те моменты когда уезжаете на работу или по делам и оставляете дома детей, супругу или престарелых родственников
						.why__img
							img(src="_/uploads/why-6.png" alt="")


	.consult
		.consult__camera
			img(src="_/uploads/cam-3.png" alt="")
		.case
			.consult__wrap.row
				.consult__text.ani.fadeIn
					.consult__title Теперь Вы точно знаете к кому обращаться! 
					.consult__subtitle Закажите консультацию
				form.consult__form.form.ani.fadeIn
					.form__inner
						.form__title.h4 Оставьте Ваши данные и #[strong мы свяжемся с Вами!]
						.form__input.input.--md.--bg-white.--name.--required
							input.input__area(type="text" name="name" placeholder="Ваше имя")
						.form__input.input.--md.--bg-white.--phone.--required
							input.input__area(type="tel" name="phone" placeholder="Номер телефона")
						.form__checkbox.check.checkbox.--md.--white.--required
							input.check__input(type="checkbox" name="policy" checked="checked")
							.checkbox__wrap
								.checkbox__box
									<svg enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g><path d="m9.707 19.121c-.187.188-.442.293-.707.293s-.52-.105-.707-.293l-5.646-5.647c-.586-.586-.586-1.536 0-2.121l.707-.707c.586-.586 1.535-.586 2.121 0l3.525 3.525 9.525-9.525c.586-.586 1.536-.586 2.121 0l.707.707c.586.586.586 1.536 0 2.121z"/></g></svg>
								.checkbox__text #[a(href="_/uploads/privacy-policy.pdf" target="_blank") Согласен с пользовательским соглашением и условиями политики конфиденциальности]
					button.form__btn.btn.--md.--bg-blue.--no-shadow Заказать звонок
