include ../../sys/pug/vars

footer.footer
	.case
		.footer__wrap.row
			.footer__content
				.footer__address.f-address
					.f-address__text
						p Мы всегда рады видеть Вас в наших офисах в г. Москва и г. Раменское
						p #[strong #[u ООО “Всё Видно”]]
					.f-address__icon
				.footer__req
					p ИНН/КПП:5040156902/504001001
					p ОГРН:1185027017449
			.footer__nav
				ul
					li.--to-main
						a(href="") В начало
					li.--to-discount
						a(href="") Получить скидку 10 %
					li
						a(href="") Посмотреть наши видеокамеры
					li
						a(href="") Посмотреть наши работы 
					li
						a(href="") СКУД

			.footer__data
				.footer__contacts
					p #[a(href="tel:+74957402689") +7 (495) 740-26-89]
					p #[a(href="tel:+79267110215") +7 (926) 711-02-15]
					p E-MAIL: #[a(href="mailto:zakaz@vsevidnorf.ru") zakaz@vsevidnorf.ru]
				.footer__socials.socials
					a.socials__item(href="")
					a.socials__item(href="")
					a.socials__item(href="")
					a.socials__item(href="")
