include ../../sys/pug/vars

header.header#header
	.case
		.header__wrap.row
			.header__logo
				img(src="_/uploads/logo.png" alt="")
			.header__desc Установка видеонаблюдения в Москве и области
			.header__socials.socials
				.socials__list.row
					a.socials__item(href="https://instagram.com/vsevidno.rf?utm_medium=copy_link" target="_blank")
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 40C17.2917 40 14.7005 39.4727 12.2266 38.418C9.7526 37.3633 7.6237 35.944 5.83984 34.1602C4.05599 32.3763 2.63672 30.2474 1.58203 27.7734C0.527344 25.2995 0 22.7083 0 20C0 17.2917 0.527344 14.7005 1.58203 12.2266C2.63672 9.7526 4.05599 7.6237 5.83984 5.83984C7.6237 4.05599 9.7526 2.63672 12.2266 1.58203C14.7005 0.527344 17.2917 0 20 0C22.7083 0 25.2995 0.527344 27.7734 1.58203C30.2474 2.63672 32.3763 4.05599 34.1602 5.83984C35.944 7.6237 37.3633 9.7526 38.418 12.2266C39.4727 14.7005 40 17.2917 40 20C40 22.7083 39.4727 25.2995 38.418 27.7734C37.3633 30.2474 35.944 32.3763 34.1602 34.1602C32.3763 35.944 30.2474 37.3633 27.7734 38.418C25.2995 39.4727 22.7083 40 20 40ZM30 12.5C30 11.8229 29.7591 11.237 29.2773 10.7422C28.7956 10.2474 28.2031 10 27.5 10H12.5C11.8229 10 11.237 10.2474 10.7422 10.7422C10.2474 11.237 10 11.8229 10 12.5V15H14.4531C15.9635 13.3333 17.8125 12.5 20 12.5C22.1875 12.5 24.0365 13.3333 25.5469 15H30V12.5ZM15 20C15 21.3802 15.4883 22.5586 16.4648 23.5352C17.4414 24.5117 18.6198 25 20 25C21.3802 25 22.5586 24.5117 23.5352 23.5352C24.5117 22.5586 25 21.3802 25 20C25 18.6198 24.5117 17.4414 23.5352 16.4648C22.5586 15.4883 21.3802 15 20 15C18.6198 15 17.4414 15.4883 16.4648 16.4648C15.4883 17.4414 15 18.6198 15 20ZM30 17.5H27.0312C27.3438 18.3594 27.5 19.1927 27.5 20C27.5 22.0833 26.7708 23.8542 25.3125 25.3125C23.8542 26.7708 22.0833 27.5 20 27.5C17.9167 27.5 16.1458 26.7708 14.6875 25.3125C13.2292 23.8542 12.5 22.0833 12.5 20C12.5 19.1927 12.6562 18.3594 12.9688 17.5H10V27.5C10 28.2031 10.2409 28.7956 10.7227 29.2773C11.2044 29.7591 11.7969 30 12.5 30H27.5C28.2031 30 28.7956 29.7591 29.2773 29.2773C29.7591 28.7956 30 28.2031 30 27.5V17.5Z" fill="#29AAE1"/></svg>
					a.socials__item(href="https://t.me/vsevidnorf" target="_blank")
						<svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#icon-telegram)"><path d="M19.4444 0C8.70296 0 0 8.95161 0 20C0 31.0484 8.70296 40 19.4444 40C30.1859 40 38.8889 31.0484 38.8889 20C38.8889 8.95161 30.1859 0 19.4444 0ZM28.9942 13.7016L25.8031 29.1694C25.5679 30.2661 24.9328 30.5323 24.0468 30.0161L19.1857 26.3306L16.8414 28.6532C16.5827 28.9194 16.3631 29.1452 15.8613 29.1452L16.2063 24.0564L25.2151 15.6855C25.6071 15.3306 25.1288 15.129 24.6113 15.4839L13.4778 22.6935L8.67943 21.1532C7.63665 20.8145 7.61313 20.0806 8.89897 19.5645L27.6456 12.129C28.5159 11.8065 29.2764 12.3468 28.9942 13.7016Z" fill="#29AAE1"/></g><defs><clipPath id="icon-telegram"><rect width="38.8889" height="40" fill="white"/></clipPath></defs></svg>
					a.socials__item(href="https://api.whatsapp.com/send/?phone=79267110215" target="_blank")
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#icon-whatsapp)"><path d="M37.0085 9.24976C31.025 -0.000306073 18.8087 -2.75033 9.33481 2.99972C0.110229 8.74976 -2.88153 21.2499 3.10199 30.4999L3.60061 31.2499L1.60611 38.75L9.0855 36.75L9.83344 37.25C13.0745 39 16.5649 40 20.0553 40C23.795 40 27.5347 39 30.7757 37C40.0003 30.9999 42.7427 18.7498 37.0085 9.24976ZM31.773 28.4999C30.7757 29.9999 29.5292 30.9999 27.784 31.2499C26.7867 31.2499 25.5402 31.7499 20.5539 29.7499C16.3156 27.7499 12.8252 24.4999 10.3321 20.7499C8.83618 18.9998 8.08824 16.7498 7.83893 14.4998C7.83893 12.4998 8.58687 10.7498 9.83344 9.49977C10.3321 8.99976 10.8307 8.74976 11.3293 8.74976H12.5759C13.0745 8.74976 13.5731 8.74976 13.8224 9.74977C14.3211 10.9998 15.5676 13.9998 15.5676 14.2498C15.9722 14.6555 15.6906 16.1265 15.3183 16.4998C14.833 16.9864 13.7194 18.0433 14.0718 18.7498C15.069 20.2498 16.3156 21.7499 17.5621 22.9999C19.058 24.2499 20.5539 25.2499 22.2991 25.9999C22.7977 26.2499 23.2963 26.2499 23.5456 25.7499C23.795 25.2499 25.0415 23.9999 25.5402 23.4999C26.0388 22.9999 26.2881 22.9999 26.7867 23.2499L30.7757 25.2499C31.2744 25.4999 31.773 25.7499 32.0223 25.9999C32.2716 26.7499 32.2716 27.7499 31.773 28.4999Z" fill="#29AAE1"/></g><defs><clipPath id="icon-whatsapp"><rect width="40" height="40" fill="white"/></clipPath></defs></svg>
					a.socials__item(href="javascript:;" data-popup="" data-src="#modal-order")
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 0C14.6957 0 9.60859 2.10714 5.85786 5.85786C2.10714 9.60859 0 14.6957 0 20C0 25.3043 2.10714 30.3914 5.85786 34.1421C9.60859 37.8929 14.6957 40 20 40C25.3043 40 30.3914 37.8929 34.1421 34.1421C37.8929 30.3914 40 25.3043 40 20C40 14.6957 37.8929 9.60859 34.1421 5.85786C30.3914 2.10714 25.3043 0 20 0ZM10 10H30C30.3575 10 30.7025 10.0775 31.0225 10.22L23.0368 19.5351C21.4405 21.3972 18.5595 21.3972 16.9632 19.5351L8.9775 10.22C9.29858 10.0741 9.64732 9.99904 10 10ZM7.5 27.5V12.5L7.505 12.3425L14.835 20.895L7.585 28.145C7.52773 27.9348 7.49914 27.7178 7.5 27.5ZM10 30C9.78 30 9.5625 29.97 9.355 29.915L16.47 22.8L16.9659 23.3783C18.5622 25.2402 21.4428 25.2402 23.0391 23.3783L23.535 22.8L30.65 29.915C30.4398 29.9723 30.2228 30.0009 30.005 30H10ZM32.5 27.5C32.5 27.72 32.47 27.9375 32.415 28.145L25.165 20.895L32.495 12.3425L32.5 12.5V27.5Z" fill="#29AAE1"/></svg>

			.header__phones
				p #[a(href="tel:+79267110215") 8 (926)711-02-15]
				p #[a(href="tel:+74957402689") 8 (495)740-26-89]
	.header__nav-wrap
		.header__nav
			.case
				ul
					li
						a(href="#catalog") Видеокамеры
					li
						a(href="#typicals") #[span Типовые сметы и цены] #[u Сметы и цены]
					li
						a(href="#skyd") СКУД
					li
						a(href="javascript:;" data-popup="" data-src="#modal-callback") Заказать звонок