include ../../sys/pug/vars

header.header
	.case
		.header__wrap.row
			.header__logo
				img(src="" alt="")
			.header__desc Установка видеонаблюдения в Москве и области
			.header__socials.socials
				a.socials__item(href="")
				a.socials__item(href="")
				a.socials__item(href="")
				a.socials__item(href="")

			.header__phones
				p #[a(href="tel:+79267110215") 8 (926)711-02-15]
				p #[a(href="tel:+74957402689") 8 (495)740-26-89]
		.header__nav
			ul
				li
					a(href="") Видеокамеры
				li
					a(href="") Типовые сметы и цены
				li
					a(href="") СКУД
				li
					a(href="") Заказать звонок