.textarea__wrap {
  position: relative;
}
.textarea__area {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #2B2B2D;
  resize: none;
}
.textarea__area::placeholder {
  color: #2B2B2D;
}